* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    margin: antiquewhite;
}

h1{
    color: rgb(0, 0, 0);
    display: flex;
    font-size: xx-large;
}

nav a {
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-size: x-large;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 250px;
}

#fam-pic {
    height: 550px;
    width: 370px;
    margin: 0px 0px -4px 747px;
}

#About-Me {
display:flex;
flex-direction: row;
font-size: large;
justify-content: center;
margin-bottom: 150px;
border-right: 5px solid black;
}

#About-Me p {
    margin: 40px;
    padding: 0 350px 0 10px;
}

#My-Work {
    display:flex;
flex-direction: row;
font-size: large;
flex-wrap: wrap;
}
#My-Work h2 {
    height: 1500px;
    margin: 0px 23px 129px 161px;
}

#My-Work article{
    height: 500px;
    width: 750px;
}
#My-Work img {
    width: 750px;
    height:500px;
}

#Contact {
width: 80%;
margin-bottom: 30px;
margin-top: 260px;
display:flex;
flex-direction: row;
font-size: large;
justify-content: center;
}

h2 {
    margin: 40px 0 0px 200px;
    border-right: 5px solid black;
    padding-right: 5px;
}

h3 {
    position: absolute;
    top: 340px;
    right: 557px;
    width: 190px;
    height: 79px;
    border: 3px solid #69bfe7;
    background-color: black;
    font-size: xx-large;
    color: #69bfe7;
}

#space {
    width: 100%;
    height: 250px;
}

main {
    flex-wrap: wrap;
}


.card {
    position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #000000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    justify-content: space-around;
}



.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: xx-large;
    padding: 35px 0px 0px 100px;
}

@media screen and (max-width: 700px) {
    header {
       
        flex-direction: column;
        text-align: center;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-portion-3 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #About-Me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #fam-pic {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
}